# ########################################
# User ignore
# ########################################
dataset/
reference

# ########################################
# Project
# ########################################
__pycache__
.vscode
.DS_Store
.env
*tmp*
*copy*